.site-header{
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a{
    text-decoration: none;
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover{
    color:#fff;
}
.jumbotron *{
    text-align: center;
}

.site-header a{
    display: none;
}

.logo{
    display: inline-block !important;
}
.jumbotron{
    background: url(../images/bay2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 5rem 2rem;
}

.jumbotron h1, .jumbotron p{
    color:#fff;
}


.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

@media(min-width:700px){
    .sections{
        padding:20px 0px;
    }
}

/* Works Images */
.internet{
    background-image: url(../images/internet.PNG);
}

.diplaying-blocks{
    background-image: url(../images/displaying_blocks.PNG);
}

.portfolio{
    background-image: url(../images/portfolio.PNG);
}

.Game1942{
    background-image: url(../images/1942.PNG);
}

.pacman{
    background-image: url(../images/pacman.PNG);
    background-position: -110px -102px;
}

.python{
    background-image: url(../images/python.PNG);
}

.fake-blog{
    background-image: url(../images/fake_blog.PNG);
}

.javascript-basic{
    background-image: url(../images/javascript_basics.PNG);
}


/* End of Works Images */

.h-400{
    height: 400px;
}

.h-300{
    height: 300px;
}

.h-200{
    height: 200px;
}

.h-400{
    height: 400px;
}

.h-500{
    height: 500px;
}
.h-600{
    height:600px;
}

.work-img{
    filter:contrast(.8);
    border-radius: 20px;
    transition: .2s all ease-in-out;
    cursor: pointer;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px black;
}

.work-img:hover{
    transform: translateY(-10px);
    box-shadow: 2px 2px 4px black;
}

.contact-container{
    background-color: #4a0d66;
    color: #fff;
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="144px" height="250px" viewBox="0 0 144 250" version="1.1"%3e%3cg id="bg_cubes_blue" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3e%3cpath d="M74.9846349,210 L146,251.42563 L146,336.741037 L73,294.157704 L0,336.741037 L5.55111512e-17,251.42563 L71.0153651,210 L5.55111512e-17,168.57437 L2.26563926e-18,86.741037 L5.55111512e-17,-0.57437 L72,-40.5743703 L72,-41.741037 L73,-41.1577037 L74,-41.741037 L74,-40.5743703 L146,1.42562967 L146,86.741037 L146,168.57437 L74.9846349,210 Z M73,125.842296 L143.015365,85 L73,44.1577037 L2.98463486,85 L73,125.842296 Z M72,127.57437 L2,86.741037 L2,167.42563 L72,208.258963 L72,127.57437 Z M72,211.741037 L2,254.57437 L2,333.258963 L72,292.42563 L70,211.741037 Z M72,-38.258963 L2,2.57437033 L2,83.258963 L72,42.4256297 L72,-38.258963 Z M144,83.258963 L144,2.57437033 L74,-38.258963 L74,42.4256297 L144,83.258963 Z M144,333.258963 L144,252.57437 L74,211.741037 L74,292.42563 L144,333.258963 Z M144,167.42563 L143,86.741037 L74,127.57437 L74,208.258963 L144,167.42563 Z" id="Combined-Shape" fill="%23720d66" fill-rule="nonzero"%3e%3c/path%3e%3c/g%3e%3c/svg%3e');
}

.contact-container{
    padding:4em 0em;
}



.form-container h2{
    font-size: 1.8rem;
    padding-top: 50px;
    background:url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" version="1.1" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"%3e%3cpath d="M0,5.5l11,-5.5l11,5.5l0,13l-11,5.5l-11,-5.5l0,-13Z" style="fill:%238AE2D1;"/%3e%3cpath d="M11,0l11,5.5l0,13l-11,5.5l0,-24Z" style="fill:%23D51067;"/%3e%3cpath d="M11,0l11,5.5l-11,5.5l-11,-5.5l11,-5.5Z" style="fill:%230084AD;"/%3e%3cpath d="M22,5.5l-11,5.5l0,-11l11,5.5Z" style="fill:%23003764;"/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: 50% 0;
}

#email{
    width: 100%;
    margin:auto;
}

@media (max-width:480px){
    #subscribe{
        width: 100%;
    }
}

@media (min-width: 1000px){
    .jumbotron{
        padding: 14rem 2rem !important;
        background-position: -15px -130px;
        background-size: 106%;
    }
    .site-header a{
        display: inline-block;
    }

    .contact-container{
        padding:9em 0em;
    }

    .form-container{
        width:580px;
        text-align: center;
    }

    #email{
        width: 60%;
        margin:auto;
    }

    .form-container h2{
        font-size: 2.6rem;
    }
}

